version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    groups:
      security-patches:
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly

